*.rbc
capybara-*.html
.rspec
/log
/tmp
/db/*.sqlite3
/db/*.sqlite3-journal
/db/schema.rb
/public/system
/coverage/
/spec/tmp
**.orig
rerun.txt
pickle-email-*.html

config/secrets.yml

/.bundle
/vendor/bundle

/vendor/assets/javascripts/bower_components/

.env
.rvmrc