<form name='insert-task' method='post' target='_self' accept-charset='UTF-8' enctype='application/x-www-form-urlencoded' autocomplete='off' novalidate>
  <input type='text' name='task'>
  <input type='submit' name='confirm'>
</form>