<!DOCTYPE html>

<html>
  <head>
    <title>TodoList</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    </head>
  <body>
    <div class='card card--fixed card--centralize'>
      <div class='card-content'>
        <h1>Todo List</h1>

        <%= yield %>
      </div>
    </div>

    <p class='footer'>
      <a href='https://github.com/guilhermeteodoro/todo-list'>Project</a> developed with ♥ by <a href='https://github.com/guilhermeteodoro'>Guilherme Teodoro</a>.
    </p>
  </body>
</html>